<?xml version="1.0"?>

<launch>

	<node pkg="tf" type="static_transform_publisher" name="tf1" args="0.2 0 0 1 1 1 camera obj1 10" />
	<node pkg="tf" type="static_transform_publisher" name="tf2" args="0.1 0.1 0 1 0 0 camera obj2 10" />
	<node pkg="tf" type="static_transform_publisher" name="tf3" args="0.1 0 0 0 1 0 obj2 obj3 10" />
	<node pkg="tf" type="static_transform_publisher" name="tf4" args="0.1 0 0 0 0 1 obj3 obj4 10" />
	<node pkg="tf" type="static_transform_publisher" name="tf5" args="0.1 -0.1 0 0 0 1 camera obj5 10" />
	<node pkg="tf" type="static_transform_publisher" name="tf6" args="0.1 0 0 0 1 0 obj5 obj6 10" />
	<node pkg="tf" type="static_transform_publisher" name="tf7" args="0.1 0 0 0 1 0 obj6 obj7 10" />

	<node name="rviz" pkg="rviz" type="rviz" output="screen" />

</launch>
